/*@font-face {
	font-family: SHREE-DEV7-0708E;
	src: url(../fonts/S0708890.TTF);
}*/
#hide{
	position: fixed;
	cursor: pointer;
	z-index: 99999;
	color: #555555;
	left: 225px;
	top: 10px;
}
#show{
	display: none;
	position: fixed;
	cursor: pointer;
	z-index: 99999;
	color: #555555;
	left: 10px;
	top: 10px;
}
.nav li:hover .submenu {
	display: block;
	max-height: 200px;
	background: rgba(166, 65, 185, 0.22);
	margin-left: 15px;
	width: 88%;
}
.sub-active{	
	display: block!important;
	max-height: 200px;
	background: rgba(166, 65, 185, 0.22);
	margin-left: 15px;
	width: 88%;
	list-style: none;
}
.submenu {
	overflow: hidden;
	max-height: 0;
	list-style: none;
	-webkit-transition: all 0.5s ease-out;
}
.submenu  li,.sub-active li{	
	font-size: 16px!important;
	padding-left: 5px!important;
	margin-left: -40px;
	cursor: pointer;
}
.submenu li a,.sub-active li a{
	position: relative;
	display: block;
	padding: 10px 15px;
}
.submenu li:hover.sub-active li:hover{
	color: black!important;
	background: rgba(128, 128, 128, 0.36);
}

.title a{
	margin-top: -5px;
}
.big-label{
	text-align: right;
	font-size: 16px;
}
.qus-span{
	float: left;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 600;
	color: black;
}
.option-l{
	float: left;
	font-weight: 500;
	padding-top: 22px;
}
.option-a{
	float: left;
	width: 97%;
	padding-left: 10px; 
}
.ul{
	font-size: 20px;
	line-height: 30px;
}
.logo{
	text-align: center;
	margin-bottom: 10px;
	padding: 15px;
}
.logo img{
	width: 100px;
}
.left{
	left: 0;
}
.zero-padding{
	padding: 0;
}
.hidden{
	display: none;
}
.timer{
	font-size: 30px;
}
.padding{
	padding: 10px;
}
.question{
	font-size: 20px;
}
.option{
	font-size: 18px;
	margin-bottom: 15px;
}

.notice ul li {
	font-size: 18px;
	padding: 5px;
}
.can-pos{
	left: 120px;
	top: 0px;
}
.cli-pos{
	left: 100px;
	top: 0px;
}
.count{
	text-align: center;
	position: absolute;
	background: rgba(255, 0, 0, 0.60);	
	border-radius: 50%;
	padding: 0px 5px;
	height: 25px;
	width: auto;
	color: white;
}
.disable-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
tbody {
	color: rgba(0, 0, 0, 0.9);
}
/*tbody td span{
	display: none;
	}*/
	.none{
		background: #ffffff;
	}
	.red{
		background: rgba(255, 0, 0, 0.25)!important;
	}
	.blue{
		background: rgba(0, 137, 255, 0.25)!important;
	}
	.green{
		background: rgba(0, 128, 0, 0.25)!important;
	}
	.orange{
		background: rgba(255, 165, 0, 0.25)!important;
	}
	.violet{
		background: rgba(86, 0, 255, 0.25)!important;
	}
	.callRed{
		color: red!important;
	}
	.callGreen{
		color: green!important;
	}

	.btn-add{
		border-radius: 50px;
		margin-left: -20px;
	}

	.text-margin-top{
		margin-top: 5px; 
	}

	.remark-count{
		position: absolute;
		left: -30px;
		top: -10px;
		width: 25px;
		height: 25px;
		background: rgba(44, 177, 241, 0.59);
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
	}

	.name-edit{
		min-height: 35px;
		cursor: pointer;
	}
/*
tr{
	outline: 1px dotted gray;
}
*//*.remark-count:hover{
	color: red;
	}*/
	@media (min-width: 321px) and (max-width: 480px) and (max-width: 640px){
		.timer-div{
			font-size: 30px;
			position: fixed;
			top: 0;
			right: 65px;
		}
	}
	.timer-div{
		color: #000000;
		font-weight: bolder;
		text-shadow: 1px 1px 5px #737373;
		font-size: 30px;		
		margin-top: 15px;		
		border-right: 1px solid gray;
		padding-right: 15px;
	}

	.green{
		background: #4caf50!important;
	}	

	.pad-left{
		padding-left: 15px;		
	}

	.qus-count{
		margin-right: 10px;
		margin-bottom: 15px;
		width: 22%;
		float: left;
		text-align: center;
	}

	.qus-count:nth-child(4n+4){
		margin-right: 0px!important;		
	}
	.qus-count h4{
		padding: 15px;
		margin: 0px;
	}

	.no-padding{
		margin: 0!important;
	}
	#test-footer{
		position: fixed;
		bottom: 0;
		width: 71.1%;
	}

	#imgPreview {
	    object-fit: contain;
	    width: 200px;
	    height: 200px;
	}

	#description{
	    height: 200px;
	}


